body {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

#topbar {
  background-color: #222;
  height: 60px;
}

#topbar .logo {
  float: left;
  font-size: 30px;
  padding: 15px 0 0 15px;
}

#topbar .logo:hover {
  color: #bfb;
}
